*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary: #e53935;
  --content: #021d3d;
  --content-medium: #233143;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(/styles/fonts/Poppins-Regular.ttf) format('truetype');
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 92%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

body {
  width: 300px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  /* For github docs link */
  padding-bottom: 2rem;
}

/* View on Github */
.view-on-github {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--content-medium);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  z-index: 100;
}

.github-icon {
  margin-right: 0.5rem;
}

/* Page not supported view */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-supported {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.page-not-supported-svg {
  margin-right: 0.5rem;
  font-size: 2.2rem;
  color: var(--primary);
  opacity: 0.6;
}

.page-not-supported-text {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.44px;
  color: var(--content);
  opacity: 0.6;
}

/* Inputs */
.input-base {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
}

.input-base > input {
  font-size: 1rem;
  outline: none;
  border: none;
  width: 100%;
  flex-grow: 1;
  background-color: inherit;
  padding-left: 0.3rem;
  text-align: center;
  color: var(--content);
}

.input-base > input::placeholder {
  color: 1rem;
  opacity: 0.6;
}

.input-base > input:-webkit-autofill {
  -webkit-text-fill-color: var(--content-medium);
  caret-color: var(--content-medium);
}

.input-base input::-webkit-outer-spin-button,
.input-base input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.buttons button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--primary);
}

.buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Intervals list */
#timeIntervals {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#timeIntervals .interval-row:last-child {
  border-bottom: none;
}

.interval-row {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.interval-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.interval-time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.interval-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.interval-name {
  cursor: pointer;
  max-width: 6.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.truncated:hover::before {
  content: attr(title);
  position: absolute;
  z-index: 1;
  background-color: #000;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.interval-name-input {
  font-size: inherit;
  width: auto;
  background-color: transparent;
  outline: none;
  margin-right: 1rem;
  font-size: inherit;
  max-width: 6.5rem;
}

.play-interval-button,
.delete-interval-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #888;
  padding: 0.1rem 0.2rem;
}

.play-interval-button:hover,
.delete-interval-button:hover {
  color: #333;
}
